<html>
<head>
   <title>Quotso: My Quotes World</title>
 </head>
<body>
   <h1>Quotso</h1>
   <h3>My Quotes World</h3>
    <div>
     <h5># Quotes no.1</h5>
    Theoretical knowledge only gives us knowledge <br>
    while practical knowledge gives us knowledge as well as <br>experience which matters the most.
     <p><b>Published on: 11 May 2020, 11.23 a.m.</b>
    </div>
    <div>
    <h5># Quotes no.2</h5>
     Fear of failure is biggest enemy of innovation.<br>
     Innovators win over the fear of failure. <br>
     That's why they are able to make innovation
     <p><b>Published on: 12 May 2020, 9:25 a.m.</b>
    </div> 
     

</body>
</html>

<style type="text/css">
div{background-color:aqua;
    padding:10px;
    width:300px;
    margin-bottom:20px;}
